.bg_main {
  background-color: #fffff3;
}

ul {
  padding-left: 30px;
}

.blind {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.navbar {
  /*z-index: 9;*/
  position: fixed;
  padding-top: 0;
  padding-bottom: 0;
}

header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  /* height: 40px; */
  transition: top 0.2s ease-in-out;
}

#footer {
  /* display: flex;
  justify-content: center; */
  float: left;
  background-color: #e9e9e9;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
}

.visible {
  display: none;
}

.status1 {
  margin: 30px;
  margin-left: 17%;
  float: left;
  width: 550px;
  height: 550px;
}

.status2 {
  margin: 40px 8.5%;
  width: 1500px;
  height: 200px;
}

.pie_container {
  float: left;
  margin: 0;
}

.geo_container {
  display: flex;
  justify-content: center;
}

.geo_container {
  width: 800px;
  margin: 30px auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.menu_list {
  display: flex;
  width: 1000px;
  justify-content: center;
}
.menu_item {
  margin-left: 200px;
  padding: 0;
  color: #fff;
}

.nav-style {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}

.container1 {
  background-color: #fffede;
  padding-bottom: 50px;
}

.infoImage {
  overflow: hidden;
}

.infoImage img {
  background-size: 100%;
  background-position: center;
  transition: 0.45s ease-in-out;
}

.infoImage:hover img {
  transform: scale(1.11);
}

#slides {
  position: relative;
  width: 100%;
  top: 0;
  /* z-index: 0; */
}

.carousel-inner img {
  height: 100vh;
  width: 100%;
}

.carousel-caption {
  /*position: absolute;*/
  top: 20%;
  transform: translateY(-20%);
}

.carousel-caption h1 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.container span {
  display: block;
  text-transform: uppercase;
}

.text1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  color: black;
  background-color: transparent;
  position: relative;
  left: 100%;
  -webkit-animation: tracking-in-contract-bck-top 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.text2 {
  font-size: 30px;
  color: black;
  position: relative;
  left: 100%;
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.nav-animation {
  padding-bottom: 1px;
  color: hsl(222, 25%, 14%);
  position: relative;
}

.nav-animation:hover {
  color: black;
}

.nav-animation::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: hsl(243, 80%, 62%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-animation:hover::after {
  opacity: 1;
  transform: translateY(0);
}
