html, body {
    height: 100%;
    overflow: auto;
}

ul{
    padding-left: 30px;
}

.carousel-inner img {
    height: 100vh;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
}

.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.navbar {
    z-index: 9;
}

.linkButton {
    width: 120px;
    height: 40px;
    background-color: #8D264E;
    color: white;
    box-shadow: 0 4px 16px rgba(141, 38, 78, 0.3); /*그림자*/
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: 0px;
    font-family: "Times New Roman", serif;
    transition: 0.5s; /*부드러운 변화 추가*/
    margin-right: 20px;
}

.linkButton:hover {
    background-color: rgba(141, 38, 78, 0.8);
    cursor: pointer; /*마우스 커서 포인터로 변경*/
    box-shadow: 0 2px 4px rgba(141, 38, 78, 0.7);
}

#slides {
    position: absolute;
    width: 100%;
    top: 0;
}

