header {
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.2s ease-in-out;
}

ul {
    padding-left: 30px;
}

.carousel-inner img {
    height: 100vh;
    width: 100%;
}

.carousel-caption {
    /*position: absolute;*/
    top: 20%;
    transform: translateY(-20%);
}

.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.navbar {
    /* z-index: 9; */
    position: fixed;
}

.visible {
    display: none;
}

.linkButton {
    width: 120px;
    height: 40px;
    background-color: #8d264e;
    color: white;
    box-shadow: 0 4px 16px rgba(141, 38, 78, 0.3); /*그림자*/
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: 0px;
    font-family: "Times New Roman", serif;
    transition: 0.5s; /*부드러운 변화 추가*/
    margin-right: 20px;
}

.linkButton:hover {
    background-color: rgba(141, 38, 78, 0.8);
    cursor: pointer; /*마우스 커서 포인터로 변경*/
    box-shadow: 0 2px 4px rgba(141, 38, 78, 0.7);
}

table {
    /*solid-color: crimson;*/
    border: 1px solid crimson;
    border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    border: 1px solid crimson;
    border-collapse: collapse;
    border-spacing: 5px;
}

#slides {
    position: relative;
    width: 100%;
    top: 0;
    /* z-index: 0; */
}

#infoDiv1 {
    display: flex;
    align-items: center;
}

#infoDiv2 {
    display: flex;
    align-items: center;
}

#infoDiv3 {
    display: flex;
    align-items: center;
}

#infoDiv1Text {
    font-family: "Times New Roman", serif;
    font-size: 1.5vw;
    line-height: 1.0;
}

#infoDiv2Text {
    font-family: "Times New Roman", serif;
    font-size: 1.5vw;
    line-height: 1.0;
}

#infoDiv3Text {
    font-family: "Times New Roman", serif;
    font-size: 1.5vw;
    line-height: 1.0;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
