@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

ul {
  padding-left: 30px;
}

.blind {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.navbar {
  /*z-index: 9;*/
  position: fixed;
  padding-top: 0;
  padding-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 40px; */
  transition: top 0.2s ease-in-out;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
}

.visible {
  display: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.menu_list {
  display: flex;
  width: 1000px;
  justify-content: center;
}
.menu_item {
  margin-left: 200px;
  padding: 0;
  color: #fff;
}

.nav-style {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}

.nav-animation {
  padding-bottom: 1px;
  color: hsl(222, 25%, 14%);
  position: relative;
}

.nav-animation:hover {
  color: black;
}

.nav-animation::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: hsl(243, 80%, 62%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-animation:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.logo-animation {
  transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.logo-animation:hover {
  transform: scale(1.03);
}

.logo-animation:active {
  transform: scale(0.9);
}
.store-info {
  font-size: 20px;
  font-family: sans-serif;
}


.footerContainer{
  font-family: 'Poppins', sans-serif;
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color:  #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #FFFFFF;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255 0.2);
  margin: 0px 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 767px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col{
    width: 100%;
  }
}